.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background-image: url("/img/home.jpg");*/
  background-position: center top; 
  background-repeat: no-repeat; 
  background-size: 100% 50%;
}

.title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 45px;
}

.slogan {
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 10rem;
  font-family: 'Playfair Display', serif;
  font-size: 20px; 
}


/*------------------CHECK IN BOX------------------ */

.formBox {
  flex-basis: 10%;
  border: 1px solid #ccc;
  background-color: white;  
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.form {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 25px;

}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0px;
  grid-column: 3; 
}

.buttonContainer button {
  padding: 15px  25px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: rgb(10, 150, 10);
}


.label {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-bottom: 10px;
}


.inputWrapper {
  display: flex;
  align-items: center;
}

.input {
  width: 150px;
  padding: 10px;
}



/*------------------CONTENT BOX------------------ */

.contentWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box {
  text-align: center;
  flex-basis: 45%;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  font-family: 'Playfair Display', serif;
  font-size: 20px; 
}

.box + .box {
  margin-left: 50px;
}

.locationInfo {
  /* Additional styles for location info */
}

.contactInfo {
  /* Additional styles for contact info */
}
