.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.message {
  font-size: 16px;
  color: #666;
  text-align: center;
}


.confirm {
  width: 100px;
  height: auto;
}